{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "max-depth": [
      "error",
      6
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off",
    "@typescript-eslint/no-inferrable-types": "off"
  }
}